{% extends 'default.html' %}

{% block title %}

{% endblock title %}

{% block content %}
<style>
	table{
	  margin: 0px 0px;
	  text-align: left;
	  border: 1px solid rgb(0, 0, 0);
	  width: 100%;
	  border-collapse: collapse;
	}
	td,th{
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
	vertical-align: top;
	}
</style>

    <p>Страница пользователя {{request.user.username}}</p>
    <br>
    <p>Мои объявления ({{ads_count}})</p>
    <p>Мои отклики на объявления ({{my_answers_count}})</p>
    <p>Отклики на мои объявления ({{answers_to_my_ads_count}})</p>
   

{% endblock content %}