{% extends 'default.html' %}

{% block title %}
Аккаунт пользователя
{% endblock title %}

{% block content %}
<h2>Войти в систему</h2>
<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    {% for f in form %}
        <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <input type="submit" value="Войти">
</form>
<br>
<button><a href="{% url 'signup' %}">Регистрация</a></button>
{% endblock content %}