{% extends 'default.html' %}

{% block title %}
Подробная информация
{% endblock title %}

{% block content %}
<h1>{{ads_detail.title}}</h1>
{{ads_detail.text | safe}}
<p><b>Категория:</b> {{ads_detail.category}}</p>
<p><b>Автор:</b> {{ads_detail.author}}</p>
<p><b>Дата:</b> {{ads_detail.date|date:'d M Y'}}</p>

{% if user.is_authenticated %}
    <form method="POST">
        {% csrf_token %}
        <label for="text">Текст отклика</label>
        <input name="name" type="text">
        <input type="submit" value="Отправить отклик">
    </form>
{% else %}
    <p>Войдите, чтобы отправить отклик /
    <a href="{% url 'login' %}">Войти</a></p>
{% endif %}

{% endblock content %}