{% extends 'default.html' %}

{% block title %}
Список объявлений
{% endblock title %}

{% block content %}

<table>
    <tr>
        <td>
            answer.author
        </td>
        <td>
            answer.text
        </td>
        <td>
            answer.ads
        </td>
        <td>
            answer.date
        </td>
        <td>
            answer.status
        </td>
        <td></td>
    </tr>
    {% for answer in answers %}
    <tr>
        <td>
            {{ answer.author }}
        </td>
        <td>
            {{ answer.text }}
        </td>
        <td>
            {{ answer.ads }}
        </td>
        <td>
            {{ answer.date }}
        </td>
        <td>
            {{ answer.status }}
        </td>
        <td>
            <a href="{% url 'answer' answer.id %}">Просмотр</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}