{% extends 'default.html' %}

{% block title %}
    Список откликов
{% endblock title %}

{% block content %}

<style>
	table{
	  margin: 0px 0px;
	  text-align: left;
	  border: 1px solid rgb(0, 0, 0);
	  width: 100%;
	  border-collapse: collapse;
	}
	td,th{
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
	vertical-align: top;
	}
</style>

<p>Отклики на мои объявления</p>
<form method="get">
    {{ filter.form.as_p }}
    <input type="submit" value="Применить">
</form>
{% if answer_list %}
<br>
<table>
    <tr>
        <td>
            <b>Отклик на объявление</b>
        </td>
        <td>
            <b>Текст отклика</b>
        </td>
        <td>
            <b>Автор</b>
        </td>
        <td>
            <b>Дата</b>
        </td>
        <td>
            <b>Статус</b>
        </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    {% for answer in answer_list %}
    <tr>
        <td>
            {{ answer.ads.title }}
        </td>
        <td>
            {{ answer.text }}
        </td>
        <td>
            {{ answer.author }}
        </td>
        <td>
            {{ answer.date }}
        </td>
        <td>
            {{ answer.status }}
        </td>
        <td>
            {% if not answer.status %}
                <form method="POST">
                    {% csrf_token %}
                    <label for="name">Не принят </label>
                    <input type="hidden" value='{{ answer.id }}' name="answer">
                    <input type="submit" value='Принять'>
                </form>
            {% else %}
                <form method="POST">
                    {% csrf_token %}
                    <label for="name">Принят </label>
                    <input type="hidden" value='{{ answer.id }}' name="answer">
                    <input type="submit" value="Отменить">
                </form>
            {% endif %}
        </td>
        <td>
            <a href="{% url 'answer' answer.id %}">Просмотр</a>
        </td>
        <td>
            <a href="{% url 'answer_delete' answer.id %}">Удалить</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock content %}